.bg-yellow {
    background-color: lightcyan;
    padding: 0 16px;
    
  }

  .jumbotron {
    background-color: lavenderblush;
  }

  .btn{
    background-color: lightcyan;
    color: black; 
  }

  